/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
header {
  border-bottom: 4px solid black;
  background-color: ivory;
}
header .main-words {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 501px) {
  header .main-words {
    display: none;
  }
}
header .main-words img {
  width: 150px;
  height: 150px;
  margin-top: 5px;
}
@media (max-width: 643px) {
  header .main-words img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
}
header .main-words .navLinks {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .main-words .navLinks .links {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 3px solid black;
  height: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: ivory;
  text-align: center;
  width: 80px;
  margin: 5px;
}
@media (max-width: 643px) {
  header .main-words .navLinks .links {
    font-size: 0.75rem;
    width: 60px;
    height: 15px;
  }
}
header .main-words .navLinks .links:hover {
  background-color: black;
  color: white;
}
header .main-words .title {
  margin-top: 10px;
}
header .main-words .title h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
}
@media (max-width: 900px) {
  header .main-words .title h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 600px) {
  header .main-words .title h1 {
    font-size: 2rem;
  }
}
header .main-words .title h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}
@media (max-width: 900px) {
  header .main-words .title h2 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  header .main-words .title h2 {
    font-size: 1.6rem;
  }
}
header .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 501px) {
  header .info {
    display: none;
  }
}
@media (max-width: 561px) {
  header .info {
    font-size: 0.7rem;
  }
}
header .info .fas {
  color: black;
  font-size: 1.2rem;
  margin: 10px 30px;
}
@media (max-width: 800px) {
  header .info .fas {
    font-size: 0.9rem;
  }
}
@media (max-width: 643px) {
  header .info .fas {
    font-size: 0.75rem;
  }
}
header .mobileChange {
  display: none;
}
@media (max-width: 501px) {
  header .mobileChange {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  header .mobileChange .mobileLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .mobileChange a {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    background-color: ivory;
    border-radius: 10px;
    padding: 5px 10px;
    width: 75px;
    margin: 5px 0;
    justify-content: center;
  }
}
@media (max-width: 501px) and (max-width: 501px) {
  header .mobileChange img {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
}
header .infoMobile {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 501px) {
  header .infoMobile {
    display: none;
  }
}
header .infoMobile .fas {
  padding: 10px 5px;
  font-size: 0.7rem;
}
.main-section {
  display: flex;
  flex-direction: row;
}
.main-section .reviews {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  padding: 10px;
  border: 4px solid ivory;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background-color: black;
  height: 600px;
}
@media (max-width: 906px) {
  .main-section .reviews {
    display: none;
  }
}
.main-section .reviews img {
  width: 300px;
  margin: 10px auto;
  border-radius: 5px;
}
.main-section .reviews h2 {
  font-size: 1.6rem;
  text-align: center;
  margin: 10px auto;
  color: white;
}
.main-section .mainAbout .carousel {
  display: flex;
  background-color: black;
  justify-content: center;
  overflow: hidden;
  max-width: 900px;
  max-height: 500px;
  margin: 20px 10px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}
@media (max-width: 900px) {
  .main-section .mainAbout .carousel {
    margin: 20px 20px;
  }
}
.main-section .mainAbout .carousel .carouselImage {
  object-fit: cover;
  width: 100%;
}
.main-section .mainAbout .aboutInfo {
  padding: 10px;
  margin: 20px 20px;
  font-size: 1.4rem;
  max-width: 900px;
  color: black;
}
@media (max-width: 699px) {
  .main-section .mainAbout .aboutInfo {
    font-size: 1rem;
  }
}
@media (max-width: 904px) and (min-width: 700px) {
  .reviewsMobile {
    display: flex;
    flex-direction: column;
    border: 4px solid ivory;
    height: 100%;
    margin: auto 20px 20px 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 5px 5px 10px black;
  }
}
@media (min-width: 905px) {
  .reviewsMobile {
    display: none;
  }
}
.reviewsMobile h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2rem;
  color: white;
}
@media (max-width: 700px) {
  .reviewsMobile h2 {
    display: none;
  }
}
.reviewsMobile .reviewImages3 {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
@media (max-width: 700px) {
  .reviewsMobile .reviewImages3 {
    display: none;
  }
}
.reviewsMobile .reviewImages3 img {
  width: 80%;
  margin: 0 10px;
  border-radius: 5px;
}
.reviewsMobile .reviewImages4 {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
@media (max-width: 700px) {
  .reviewsMobile .reviewImages4 {
    display: none;
  }
}
.reviewsMobile .reviewImages4 img {
  width: 80%;
  margin: 0 10px;
  border-radius: 5px;
}
.reviewsMobile .reviewImages5 {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
@media (max-width: 700px) {
  .reviewsMobile .reviewImages5 {
    display: none;
  }
}
.reviewsMobile .reviewImages5 img {
  width: 80%;
  margin: 0 10px;
  border-radius: 5px;
}
@media (max-width: 699px) {
  .reviewMobileClick {
    display: flex;
    flex-direction: column;
    border: 4px solid ivory;
    height: 100%;
    margin: auto 20px 20px 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 5px 5px 10px black;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick {
    display: none;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick .panel-bar {
    display: none;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick .panel-bar h2 {
    display: none;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-bar h2 {
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-buttons {
    display: flex;
  }
  .reviewMobileClick .panel-buttons .button {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
  }
  .reviewMobileClick .panel-buttons .hide-button {
    display: none;
  }
}
@media (max-width: 699px) and (min-width: 700px) {
  .reviewMobileClick .panel-buttons {
    display: none;
  }
}
@media (max-width: 699px) and (min-width: 700px) {
  .reviewMobileClick .panel-buttons .button {
    display: none;
  }
}
.panel-content {
  display: none;
}
@media (max-width: 699px) {
  .panel-content .panel-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 699px) {
  .panel-content .panel-style img {
    display: flex;
    justify-self: center;
    max-width: 350px;
    margin: 10px;
    border-radius: 5px;
  }
}
.showContent {
  display: block;
}
#contactSection {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 700px) {
  #contactSection {
    flex-direction: column;
    align-items: center;
  }
}
#contactSection .contactForm {
  border: 2px solid ivory;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}
@media (max-width: 700px) {
  #contactSection .contactForm {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 60%;
  }
}
@media (max-width: 500px) {
  #contactSection .contactForm {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 90%;
  }
}
#contactSection .contactForm h2 {
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
#contactSection .contactForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactSection .contactForm form input {
  width: 50%;
  margin-bottom: 10px;
}
#contactSection .contactForm form textarea {
  width: 50%;
  height: 100px;
}
#contactSection .contactForm form button {
  margin-top: 5px;
  cursor: pointer;
  color: ivory;
  border: 2px solid ivory;
  background-color: black;
  border-radius: 10px;
}
#contactSection .contactForm form button:hover {
  background-color: ivory;
  border: 2px solid black;
  color: black;
}
#contactSection .contactInfo {
  border: 4px solid ivory;
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 1%;
  margin-left: 1%;
  padding: 0px 0 20px 0;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}
@media (max-width: 700px) {
  #contactSection .contactInfo {
    margin-bottom: 10px;
    width: 60%;
  }
}
@media (max-width: 500px) {
  #contactSection .contactInfo {
    margin-bottom: 10px;
    width: 90%;
  }
}
#contactSection .contactInfo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
}
#contactSection .contactInfo a .fab {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #4267b2;
}
#contactSection .contactInfo a .fab:hover {
  color: ivory;
}
#contactSection .contactInfo h3 {
  font-size: 1.6rem;
  padding-bottom: 20px;
  text-decoration: underline white;
  color: white;
}
#contactSection .contactInfo h4 {
  font-size: 1.2rem;
  font-style: italic;
  padding-bottom: 10px;
  color: white;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 10px;
}
footer h2 {
  color: black;
  font-size: 1rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer h2 {
    font-size: 0.7rem;
  }
}
footer .far {
  color: black;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .far {
    margin: auto 5px;
  }
}
footer .fab {
  color: black;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .fab {
    margin: auto 5px;
  }
}
footer .fas {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .fas {
    margin: auto 5px;
  }
}
footer .number {
  text-decoration: none;
  margin: auto 10px;
  color: black;
  font-size: 1rem;
}
@media (max-width: 560px) {
  footer .number {
    display: none;
  }
}
@media (max-width: 560px) {
  footer .numberMobile {
    display: flex;
  }
}
@media (min-width: 561px) {
  footer .numberMobile {
    display: none;
  }
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid ivory;
}
.projects {
  margin-left: 10px;
  margin-right: 10px;
}
.tabs {
  border-bottom: 1px solid ivory;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 673px) {
  .tabs {
    height: 220px;
  }
}
.tabs .title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0;
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 673px) {
  .tabs .topics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: ivory;
  background-color: black;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
@media (max-width: 673px) {
  .tabs .topics .tab {
    margin: 5px;
    width: 100px;
    justify-content: center;
  }
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: ivory;
  color: black;
  border: 2px solid black;
}
.about {
  border: 2px solid black;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px auto auto auto;
  border-radius: 10px;
  background-color: ivory;
  padding: 0 20px 10px 20px;
  box-shadow: 5px 5px 10px;
}
.about h2 {
  font-size: 2rem;
  text-align: center;
}
.about p {
  font-size: 1rem;
}
.words {
  display: flex;
  flex-direction: column;
}
.words h2 {
  border: 2px solid ivory;
  text-align: center;
  margin: 20px auto 10px auto;
  font-size: 1.6rem;
  width: 100px;
  color: ivory;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  margin: auto;
  max-width: 900px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .slide {
    width: 1200px;
  }
}
.slide .lb,
.slide .rb {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: ivory;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.slide .lb {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.slide .rb {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.slide img {
  max-width: 900px;
  max-height: 500px;
  display: none;
}
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
