/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
header {
  border-bottom: 3px solid white;
  background-color: black;
}
header .main-words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 501px) {
  header .main-words {
    display: none;
  }
}
header .main-words img {
  width: 150px;
  height: 150px;
  padding: 5px 30px 0 30px;
}
@media (max-width: 643px) {
  header .main-words img {
    width: 100px;
    height: 100px;
  }
}
header .main-words .links {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 40px;
  border: 2px solid white;
  height: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
@media (max-width: 951px) {
  header .main-words .links {
    display: none;
  }
}
header .main-words .links:hover {
  background-color: white;
  color: black;
}
@media (max-width: 950px) {
  header .main-words .tabletChange {
    display: flex;
    align-content: center;
  }
}
@media (min-width: 951px) {
  header .main-words .tabletChange {
    display: none;
  }
}
header .main-words .tabletChange .titleTablet {
  flex-direction: column;
  text-align: center;
  color: white;
}
header .main-words .tabletChange .titleTablet h1 {
  font-size: 2.4rem;
}
@media (max-width: 805px) {
  header .main-words .tabletChange .titleTablet h1 {
    font-size: 2rem;
  }
}
@media (max-width: 643px) {
  header .main-words .tabletChange .titleTablet h1 {
    font-size: 1.6rem;
  }
}
header .main-words .tabletChange .titleTablet h2 {
  font-size: 2rem;
}
@media (max-width: 805px) {
  header .main-words .tabletChange .titleTablet h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 643px) {
  header .main-words .tabletChange .titleTablet h2 {
    font-size: 1.2rem;
  }
}
@media (min-width: 951px) {
  header .main-words .tabletChange .linksTablet {
    display: none;
  }
}
@media (max-width: 950px) {
  header .main-words .tabletChange .linksTablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
header .main-words .tabletChange a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 2px solid white;
  height: 30px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
@media (max-width: 805px) {
  header .main-words .tabletChange a {
    font-size: 1rem;
    height: 25px;
  }
}
@media (max-width: 951px) {
  header .main-words .title {
    display: none;
  }
}
header .main-words .title h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}
@media (max-width: 950px) {
  header .main-words .title h1 {
    font-size: 2rem;
  }
}
header .main-words .title h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
@media (max-width: 950px) {
  header .main-words .title h2 {
    font-size: 1.6rem;
  }
}
header .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 501px) {
  header .info {
    display: none;
  }
}
header .info .fas {
  color: white;
  font-size: 1.2rem;
  margin: 10px 30px;
}
@media (max-width: 800px) {
  header .info .fas {
    font-size: 0.9rem;
  }
}
@media (max-width: 643px) {
  header .info .fas {
    font-size: 0.75rem;
  }
}
header .mobileChange {
  display: none;
}
@media (max-width: 501px) {
  header .mobileChange {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  header .mobileChange a {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    padding: 5px 10px;
    width: 75px;
    justify-content: center;
  }
}
@media (max-width: 501px) and (max-width: 501px) {
  header .mobileChange img {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
}
header .infoMobile {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 501px) {
  header .infoMobile {
    display: none;
  }
}
header .infoMobile .fas {
  padding: 10px 5px;
  font-size: 0.7rem;
}
.main-section {
  display: flex;
  flex-direction: row;
}
.main-section .reviews {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background-color: black;
}
@media (max-width: 906px) {
  .main-section .reviews {
    display: none;
  }
}
.main-section .reviews img {
  width: 300px;
  margin: 10px auto;
  border-radius: 5px;
}
.main-section .reviews h2 {
  font-size: 1.6rem;
  text-align: center;
  margin: 10px auto;
  color: white;
}
.main-section .mainAbout .carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 900px;
  max-height: 500px;
  margin: 20px auto;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}
@media (max-width: 900px) {
  .main-section .mainAbout .carousel {
    margin: 20px 20px;
  }
}
.main-section .mainAbout .carousel .carouselImage {
  object-fit: cover;
  width: 100%;
}
.main-section .mainAbout .aboutInfo {
  padding: 10px;
  margin: 20px 20px;
  font-size: 1.4rem;
  border: 4px solid black;
  color: white;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
@media (max-width: 699px) {
  .main-section .mainAbout .aboutInfo {
    font-size: 1rem;
  }
}
@media (max-width: 904px) and (min-width: 700px) {
  .reviewsMobile {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    height: 100%;
    margin: auto 20px 20px 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 5px 5px 10px black;
  }
}
@media (min-width: 905px) {
  .reviewsMobile {
    display: none;
  }
}
.reviewsMobile h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2rem;
  color: white;
}
@media (max-width: 700px) {
  .reviewsMobile h2 {
    display: none;
  }
}
.reviewsMobile .reviewImages {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
@media (max-width: 700px) {
  .reviewsMobile .reviewImages {
    display: none;
  }
}
.reviewsMobile .reviewImages .twoimages {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.reviewsMobile .reviewImages .twoimages .image3 {
  margin-bottom: 8px;
}
.reviewsMobile .reviewImages img {
  width: 300px;
  margin: 0 10px;
  border-radius: 5px;
}
@media (max-width: 699px) {
  .reviewMobileClick {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    height: 100%;
    margin: auto 20px 20px 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 5px 5px 10px black;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick {
    display: none;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick .panel-bar {
    display: none;
  }
}
@media (min-width: 700px) {
  .reviewMobileClick .panel-bar h2 {
    display: none;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-bar h2 {
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }
}
@media (max-width: 699px) {
  .reviewMobileClick .panel-buttons {
    display: flex;
  }
  .reviewMobileClick .panel-buttons .button {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
  }
  .reviewMobileClick .panel-buttons .hide-button {
    display: none;
  }
}
@media (max-width: 699px) and (min-width: 700px) {
  .reviewMobileClick .panel-buttons {
    display: none;
  }
}
@media (max-width: 699px) and (min-width: 700px) {
  .reviewMobileClick .panel-buttons .button {
    display: none;
  }
}
.panel-content {
  display: none;
}
@media (max-width: 699px) {
  .panel-content .panel-style {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 699px) {
  .panel-content .panel-style img {
    display: flex;
    justify-self: center;
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
  }
}
.showContent {
  display: block;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
}
footer h2 {
  color: white;
  font-size: 1rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer h2 {
    font-size: 0.7rem;
  }
}
footer .far {
  color: white;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .far {
    margin: auto 5px;
  }
}
footer .fab {
  color: white;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .fab {
    margin: auto 5px;
  }
}
footer .fas {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  margin: auto 10px;
}
@media (max-width: 560px) {
  footer .fas {
    margin: auto 5px;
  }
}
footer .number {
  text-decoration: none;
  margin: auto 10px;
  color: white;
  font-size: 1rem;
}
@media (max-width: 560px) {
  footer .number {
    display: none;
  }
}
@media (max-width: 560px) {
  footer .numberMobile {
    display: flex;
  }
}
@media (min-width: 561px) {
  footer .numberMobile {
    display: none;
  }
}
body {
  font-size: 62.5%;
}
