footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px; 
   
    h2 {
        color: white;
        font-size: 1rem;
        margin: auto 10px;

        @media (max-width: 560px) {
        font-size: .75rem;
        }
    }
    .far {
       color: white;
        font-size: 1.4rem;
        margin: auto 10px;

    }

    .fab {
        color: white;
        font-size: 1.4rem;
        margin: auto 10px;
    }
    .number {
        text-decoration: none;
        margin: auto 10px;
        color: white;
        font-size: 1rem;

        @media (max-width: 560px) {
            font-size: .75rem;
            }
    }

}