.projects {
    margin-left: 10px;
    margin-right: 10px;
}

.tabs {
    .border-bottom-grey();
    .flex(center, center, column);
    .width-100();
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      height: 160px;

    }

   
    .title {
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: bolder;
        text-align: center;
        margin: 10px 0;
      }
    .topics {
      .flex(none, center);

      @media (max-width: 500px) {
        .flex(center, center, column);

      }
      
      .tab {
        .flex(none, center);
        color: ivory;
        background-color: black;
        margin: 0 5px;
        padding: 2px 10px;
        font-size: 12px;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;

        @media (max-width: 500px) {
            margin: 5px;
            width: 100px;
            justify-content: center;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .active-tab {
        background-color: ivory;
        color: black;
        border: 2px solid black;
      }
    }
  }

  .about {
        border: 2px solid black;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 80px auto auto auto;
        border-radius: 10px;
        background-color: ivory;
        padding: 0 20px 10px 20px;
        box-shadow: 5px 5px 10px;


        h2 {
            font-size: 2rem;
            text-align: center;
        }

        p {
            font-size: 1rem;
        }
  }

  .words {
      display: flex;
      flex-direction: column; 
      h2 {
          border: 2px solid ivory;
          text-align: center;
          margin: 20px auto 10px auto;
          font-size: 1.6rem;
          width: 100px;
          color: ivory;
          background-color: black;
          border-radius: 10px;
          box-shadow: 5px 5px 10px black;
           
      }
  }